{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{template "head-meta" .}}
    {{if .RawMDURL}}<link rel="alternate" type="text/markdown" href="{{.RawMDURL}}">{{end}}
    {{if .Search}}{{template "search-styles" .}}{{end}}
    {{template "styles" .}}
</head>
<body>
    {{template "header" .}}
    {{if .Search}}{{template "search-modal" .}}{{end}}
    <main class="page">
        {{template "content" .}}
        {{template "page-footer" .}}
    </main>
    {{if .Search}}{{template "search-scripts" .}}{{end}}
    {{template "scripts" .}}
</body>
</html>
{{end}}
